* {
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    color: var(--main-font-color);
}

input::placeholder {
    color: var(--input-placeholder-color);
}

:root {
    --main-font-color: #333;
    --input-placeholder-color: #888;
}
