#main-game {
    padding: 20px 0;
}

#main-game .row > div {
    margin-bottom: 20px;
}

#main-game .game-title {
    font-weight: 500;
    font-style: italic;
    margin-bottom: 30px;
}

.rooms-container .card-online {
    font-size: 12px;
}

.rooms-container .card-title {
    text-align: center;
}

.rooms-container .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
}

.rooms-container .card-body button {
    margin: 0 auto;
    display: block;
    min-width: 120px;
}

.room-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin-bottom: 80px;
}

.room-wrapper .main-container {
    margin: 0 3%;
}

.room-wrapper .main-row {
    padding-top: 30px;
}

.info-wrapper .title-block {
    margin-bottom: 80px;
}

.info-wrapper .room-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-style: italic;
}

.info-wrapper .user-block {
    position: relative;
    margin-bottom: 20px;
}

.info-wrapper .user-status {
    position: absolute;
    left: 15px;
    top: 12px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.info-wrapper .status-on {
    background-color: #079c07;
}

.info-wrapper .status-off {
    background-color: #971218;
}

.info-wrapper .user-name {
    padding-left: 22px;
}

.info-wrapper .current-user .user-name {
    font-weight: bold;
}

.info-wrapper .progress-bar {
    position: relative;
    height: 30px;
    width: 80%;
    background-color: #d6e3d6;
}

.info-wrapper .progress {
    position: absolute;
    max-width: 100%;
    left: 0;
    top: 0;
    height: 30px;
    background-color: #079c07;
}

.game-wrapper {
    padding: 20px;
}

.game-wrapper .game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 500px;
    border: 3px solid #777;
    border-radius: 5px;
}

.game-wrapper .play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    font-size: 25px;
    font-weight: 600;
}

.game-wrapper .timeout {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 60px;
    user-select: none;
}

.game-wrapper .game-timer {
    position: absolute;
    right: 20px;
    top: 10px;
    font-weight: 700;
    font-size: 15px;
    user-select: none;
}

.game-wrapper .game-text {
    max-width: 80%;
}

.game-wrapper .selected-symbol {
    background-color: #079c07;
}

.game-wrapper .next-symbol {
    text-decoration: underline;
}

.comment-wrapper {

}

.comment-wrapper .text-cloud-block {
    background-image: url("/images/text-cloud.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    max-width: 68%;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 7vw;
    left: 36%;
    transform: scale(0);
    transform-origin: bottom left;
}

.comment-wrapper .text-cloud {
    width: 100%;
    height: 100%;
    padding: 25px 30px 60px 20px;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-wrapper .text-cloud-content {

}

.comment-wrapper .comment-block {
    width: 24vw;
    height: 320px;
    position: absolute;
}

.comment-wrapper .commentator {
    width: 70%;
    position: absolute;
    bottom: 0;
    z-index: 2;
}