.username-input-container {
    height: 39px;
    width: 240px;
}

#username-input {
    font-size: 16px;
}

.login-form {
    position: fixed;
    top: 30%;
    left: 0;
    width: 100%;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row {
    margin-left: 0;
    margin-right: 0;
}

.form-group {
    margin-top: 1rem;
}